name    = Ptero
version = VERSION
license = GPL_3
author  = David L. Morton <dmorton@cpan.org>
copyright_holder = Washington University in Saint Louis
main_module = lib/Ptero.pm

[AllFiles]
[PruneCruft]
[ManifestSkip]
[MetaYAML]
[Readme]
[PkgVersion]
[ExtraTests]
[InstallDirs]

[MakeMaker]
[Manifest]
