#!/usr/bin/make -f
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)
build:
	perl Makefile.PL INSTALLDIRS=vendor
	$(MAKE) OPTIMIZE="-O2 -g -Wall"
install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
override_dh_install:
	dh_install
	sed -i '1s|^#!.*/usr/bin/env.*perl|#! /usr/bin/perl|' $(TMP)/usr/bin/*
%:
	dh $@
